

/* Global
#myCarousel {
    padding-left: 0;
    padding-right: 0;
    width:100%;
    margin: 0;
}
*/

html,body{
    height: 100%
}

.navbar {
    margin-top: 20px;
}

.carousel {
    position:absolute;
    top:0;
}

.myButton {
    margin: 10px 0px 10px 0px; /* Top and bottom margin */
    background-color: transparent;
    text-align: center !important;
}
.carousel-indicators li { visibility: hidden; }

/* -------------------------
        Image styling
------------------------- */
.myImg {
    width: auto;
    height: 400px;
    max-height: 400px !important;
}




/* -------------------------
        Slider to change values
------------------------- */
.sliders {
    display: inline-block;
}

.interactive{
    margin-left: 2cm;
}

.valueBox {
    margin: auto;
    border-radius: 7px;
    border: 1px solid #d3d3d3;
    padding: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    line-height: 30px;
    height: 30px;
    width: 40px;
}

.ui-slider-handle, .ui-state-hover, .ui-state-default {
    height: 29px !important;
    width: 20px;
    background: #5bc0de !important;
    border-radius: 0;
    top: 0 !important;
    border: 0 !important;
}

.ui-slider {
    padding: 0.9em 75px 0.9em 15px;
    position: absolute;
    right: 0;
    width: 40%;
    border-radius: 0px;
    height: 30px !important;
    background: #000;
    border-color: #d3d3d3 !important;
    padding: 0px;
}
